#colorPalette {
  color: #ccd5ae #e9edc9 #fefae0 #faedcd #d4a373 #cb997e #ddbea9 #ffe8d6 #b7b7a4 #a5a58d #6b705c #260e0e #cb6100 #db0000 #007dc0;
}

*,
::before,
::after {
  box-sizing: border-box;
  box-shadow: none;
}


html {
  width: 100%;
  background: #ccd5ae;
}

/* GENERAL */
a,
a:link {
  color: #cb6100;
  text-decoration: none;
}
a:hover,a:visited:hover, a.tag:hover, .listbox .heading a.tag:visited:hover, .splash .link a:hover,a.resp-sharing-button__link, a.resp-sharing-button__link:hover{
  color: #fff;
  background-color:#f87049;
  border-radius:5px;
  border-bottom: 1px solid;
}
/* !! FONT */
body,
a,
.blurb,
li,
:is(h1, h2, h3, h4, h5, h6, .heading, input, textarea) :is(a),
:is(h1, h2, h3, h4, h5, h6, .heading, input, textarea) {
  font-family: "Atkinson Hyperlegible Pro", "Atkinson Hyperlegible", system-ui, "Roboto", "Rubik", sans-serif;
}

/* !! OUTER */
#outer.wrapper {
  width: 100%;
}

#outer.wrapper,
#main,
.listbox .index {
  box-sizing: border-box;
  font-size: unset;
  background-color: #ccd5ae;
  color: #260e0e;
}

/* !! HEADER */
#header {
  font-size: 1rem;
  background-color: #ffe8d6;
}

/* remove logo */
#header h1 sup,
#header .landmark,
#header .logo {
  display: none;
}

/* dropdown menus */
.dropdown {
  background-color: transparent;
}

#header .menu {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

#header .menu li {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

#header .actions a:hover,
#header .actions a:focus,
#header ul.primary .open a,
#header .user a:hover,
#header .user a:focus,
#header ul.primary .dropdown a:hover,
#header li.dropdown a:hover,
#login .open a:hover,
#header ul.user .dropdown .menu a:hover,
#greeting .open a,
#greeting .dropdown:hover a,
#header ul.primary li.dropdown:hover a.dropdown-toggle,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
#header .dropdown:hover .open a#login-dropdown,#header .dropdown a#login-dropdown:hover {
  border-radius: 5px;
  color: #fff;
  background-color: #cb6100;
}

#header a,
#header a:visited,
#header .primary .open a,
#header ul.primary .dropdown a:hover,
#header ul.primary .dropdown:hover a,
#header ul.primary .dropdown a:focus {
  color: #fff;
  border-radius: 5px;
  height: 100%;
}

#header .user a,
#small_login .action,
#header ul.primary .menu a,
#greeting .dropdown .menu a,
#header .dropdown a#login-dropdown {
  background-color: #6b705c;
  box-shadow: 0px 1px 0px #f87049;
  border: 1px solid #f87049;
  border-radius: 5px;
  color: #fff;
}

#header h1.heading a {
  color: #8f1212;
}

/* header user area */
#greeting img.icon {
  border-radius: 5px;
}
#small_login{
border-radius:0 0 0 .25rem;
border:2px solid #cb6100;
background:#ffe8d6;
}
#header .user a,
#small_login .action {
  background-color: #6b705c;
  border-radius: 5px;
  height: 100%;
  max-height: 100px;
}

.dropdown #small_login .footnote a {
  color: #260e0e;
  border-radius: 0px;
  padding: 0 5px;
}

.dropdown #small_login .footnote a:hover {
  color: #fff;
}

#small_login .action {
  display: inline;
  line-height: 1;
  box-sizing: border-box;
  padding: 1px .5rem;
}

p.submit.actions input[type=submit] {
  padding: .2rem .5rem;
}

/* header bar */
#header .primary {
  background: #6b705c;
  box-shadow: none;
  border-bottom: #f87049 5px solid;
  border-top: #f87049 1px solid;
}

#header ul.primary.navigation.actions li.dropdown {
  margin-top: 3px;
}

#header #search .text {
  margin: 6px;
}

#header #search input:focus {
  color: #260e0e;
  outline: 1px dotted #cb6100;
}

/* buttons and navigations */
.actions input.text,
.actions label {
  background-image: linear-gradient(#ffe8d6 2%, #ffe8d6 95%, #cb6100 100%);
  box-shadow: none;
}

.actions input:focus {
  box-shadow: inset 2px 2px 2px #cb6100;
}

ol.pagination,
div.pagination,
ol.year,
.user.navigation.actions {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.user.navigation.actions {
  width: auto;
  justify-content: end;
  align-items: center;
}

ol.pagination li {
  margin: 0;
}

.actions a,
.actions a:link,
.action,
.action:link,
.actions input,
input[type=submit],
button,
.current,
.actions label {
  vertical-align: baseline;
  font-size: .9rem;
  color: #260e0e;
  background-color: #ffc5ab;
  background-image: none;
  border: 1px solid #cb6100;
  border-radius: .5rem;
  height: auto;
}

.actions li.previous:has(.disabled),
.actions li.next:has(.disabled) {
  padding: .15rem .5rem;
  margin-left: .25rem;
  line-height: 150%;
}

.actions li.previous:has(.disabled),
.actions li.next:has(.disabled),
.actions li .current {
  font-size: .9rem;
  border-radius: .5rem;
  background-color: #a5a58d;
  color: #fff;
  border: 1px solid #260e0e;
  box-shadow: inset 0px 2px 0px #260e0e;
}

.submit input[type=submit]:hover,
#main .actions a:active,
#main .actions a:hover,
.actions a:visited:hover,
#main .actions input:hover,
#main .actions a:focus,
#main .actions input:focus,
label.action:hover,
#main .action:hover,
#main .action:focus {
  color: #ffe8d6;
  background-color: #cb997e;
  border: 1px solid #cb6100;
  box-shadow:inset 0 2px 0 #cb6100;
}
:is(#main) :is(.actions a:hover, .actions a:visited:hover, .action:hover, .action:focus) {
  border: 1px solid #cb6100;
  box-shadow: inset 0 2px 0 #cb6100;
}

.actions a:visited,
.action:visited,
.action a:link,
.action a:visited {
  line-height: 150%;
  color: #260e0e;
}

/* !! INNER */
#inner.wrapper {
  margin: 0;
}

.splash .module div.account {
  background: #ffe8d6;
  border: 1px solid #cb6100;
  border-radius: .5rem;
  box-sizing: border-box;
}

/* notices */
.notice,
.comment_notice,
.kudos_notice,
ul.notes,
.caution,
.error,
.comment_error,
.kudos_error,
.alert.flash {
  box-sizing: border-box;
  width: 100%;
  background-color: #faedcd;
  border: 1px solid #cb6100;
}

/* front page */
.splash {
  font-size: .95rem;
}

.splash .module h3 {
  border-bottom: 1px solid #cb6100;
  color: #cb6100;
}

.splash .link a {
  color: #8f1212;
}

.splash .favorite li:nth-of-type(odd) a {
  background: #faedcd;
}

.splash .favorite li:nth-of-type(odd) a:hover {
  background: #d4a373;
  color: #fff;
}

.splash .favorite li:nth-of-type(even) a:hover {
  background: #cb6100;
  color: #fff;
}

/* !! WORKS RELATED LIST */
/* lists */
.media.fandom.index.group {
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
}

.media.fandom.index.group:after {
  display: block;
  content: "";
  flex: 1 1 430px;
}

.listbox,
fieldset fieldset.listbox,
.listbox .index {
  box-sizing: border-box;
  border: none;
  padding: .5rem;
  overflow: hidden;
  box-shadow: none;
}

.media .listbox {
  flex: 1 1 420px;
  display: flex;
  flex-direction: column;
  min-width: 25%;
  border-radius: .5rem;
  border: 1px solid #cb6100;
  margin: 5px;
}

.index.group {
  flex-grow: 1;
}

.medium.listbox.group .actions {
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;
  align-self: end;
}

.user .fandom.group,
.user .work.listbox.group,
.user .bookmark.listbox.group {
  border: 1px solid #cb6100;
  background-color: #d4a373;
  border-radius: .5rem;
}

.fandom.index.group h3,
.fandom.index.group h3 a {
  color: #8f1212;
  margin-bottom: .5rem;
}

.fandom.index.group li.listbox {
  border: 2px solid #cb6100;
  background-color: #d4a373;
  border-radius: .5rem;
}

.fandom.index.group li.listbox a {
  margin-top: 1.5rem;
}

/* info pages */
.parent.listbox.group {
  background-color: #d4a373;
  border: solid #cb6100;
  border-width: 2px;
  border-radius: .5rem .5rem 0 0;
}

.listbox.group .index.group {
  background-color: #faedcd;
}

.tag.home ul.tags.commas,
.tag.home ul.tags.tree,
.fandom .tags.index.group,
.tag.home ol.index.group {
  border: 1px solid #cb6100;
  background-color: #faedcd;
}

.parent.listbox.group,
.synonym.listbox.group,
.sub.listbox.group,
.child.listbox.group {
  margin: 0;
  box-sizing: border-box;
  background-color: #d4a373;
}

.synonym.listbox.group,
.sub.listbox.group,
.child.listbox.group {
  border: solid #cb6100;
  border-width: 0px 2px 2px 2px;
}

.child.listbox.group {
  border-radius: 0 0 .5rem .5rem;
}

.blurb .header .heading,
.blurb .header ul {
  font-size: 1rem;
}

.blurb .datetime {
  max-width: 10dvw;
}

.css.module,
.bookmark.blurb.group,
ul.series li.work.blurb,
ol.work.index.group li.blurb,
li.collection,
li.own.work,
#user-fandoms .index.group,
ul.tags.cloud {
  padding: 1rem 1.2rem;
  font-size: .9rem;
  border-radius: .5rem;
  background-color: #ffe8d6;
  border: 2px solid #cb6100;
  box-sizing: border-box;
}

.bookmark.index.group {
  margin-top: 1rem;
}

.bookmark .user {
  border: 1px solid #cb6100;
  border-radius: .5rem;
  margin-top: .643em;
  padding: .429em .75em;
  overflow: hidden;
  background-color: #fefae0;
}

.own.user.module.group {
  background: #fefae0;
  border-radius: .5rem;
  border: 2px solid #cb6100;
}

.css.module {
  padding: 1rem;
}

ol.work.index.group li.blurb ul.required-tags,
ol.work.index.group li.blurb ul.tags.commas {
  border: 0px solid transparent;
}

dl.stats {
  font-size: .9em;
}

/* tags */
.commas li:after {
  content: "‚ ";
}

ul.tags.commas {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: clip;
}

li.warnings a.tag {
  font-size: .9rem;
}

dd.warning.tags>ul>li>a,
li.warnings a.tag,
li.warnings a.tag:visited {
  color: #db0000;
}

li:is(.relationships, .characters, .freeforms):first-child {
  margin-left: 4px;
}

dd.relationship.tags a,
.relationships .tag,
.work .relationships a.tag {
  background: #ccd5ae;
  color: #260e0e;
  padding-inline: 2px 4px;
  border-radius: 2px;
}


dt.character.tags,
dd.character.tags a,
.characters .tag,
.work .characters a.tag {
  color: #cb6100;
}

dd.freeform.tags>ul>li>a,
li.freeforms a.tag {
  color: #007dc0;
}

dl.work.meta.group dd ul li a.tag:hover,
li.characters a.tag:hover,
li.relationships a.tag:hover,
li.freeforms a.tag:hover,
.listbox .heading a.tag:visited:hover {
  background: #cb6100;
  color: #fefae0;
}

li.work.blurb blockquote.userstuff.summary p {
  font-size: .9rem;
  text-align: initial;
}

/* filter and forms stuff */

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
#bookmark-form,
#bookmark_form_placement,
form blockquote.userstuff {
  display: block;
  background: #ffe8d6;
  margin: .643rem;
  padding: .643rem;
  box-shadow: none;
  border-radius: .5rem;
}

li.input,
li.input.highlighted {
  padding: .125rem;
}

li.input input {
  border: #cb6100 1px solid;
}

#bookmark-form {
  margin: 0;
}

.javascript .filters fieldset {
  border: #cb6100 2px solid;
}

#bookmark_form_placement,
fieldset {
  border: #cb6100 2px solid;
}

form.skin fieldset {
  border: #cb6100 2px solid;
}

form dt {
  border-bottom: 1px solid #d4a373;
}

form dt button.expander {
  box-shadow: none;
}

form.verbose legend,
.verbose form legend {
  background: #ffe8d6;
  border: 2px solid #cb6100;
  box-shadow: 1px 2px 3px #cb62006c;
}

form dl {
  box-sizing: border-box;
  box-shadow: none;
}

.toggled form,
.dynamic form {
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: .5rem;
  background-color: #ffe8d6;
  box-shadow: none;
}

.toggled form p.footnote {
  line-height: 1.3;
}

/* !! READING PAGE */
#main.works-show {
  max-width: 72rem;
}

#main.works-show .wrapper {
  background-color: #ffe8d6;
  border-radius: .5em;
  box-shadow: none;
  margin: 0 auto;
}

/* work info */
.wrapper {
  box-shadow: none;
}

#main .wrapper .work.meta.group {
  font-size: 1.1rem;
}

.user dl.meta,
dl.series.meta.group,
dl.work.meta.group {
  background: #ffe8d6;
  padding: 1.35rem 1.3rem;
  border-radius: .5rem;
  border: 2px #cb6100 solid;
}

dl.work.meta.group {
  border-color: #cb997e;
  border-radius: .5rem .5rem 0 0;
  border-width: 2px;
}

.secondary {
  font-size: .826rem;
  top: 0;
  width: 310px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 auto;
  background: #cb997e;
  border: 2px solid #cb6100;
  box-shadow: none;
  border-radius: .5rem;
}

.secondary li {
  margin: 0;
}

/* work summary */
div.preface {
  margin: 2rem .7rem;
  padding: .643em .643em 0;
}

/* work text */
#workskin {
  background-color: #ffe8d6;
  font-size: 1.1rem;
  padding: 0;
  position: relative;
  border: #cb997e solid;
  border-width: 0px 2px 2px 2px;
  box-sizing: border-box;
}

#workskin * {
  line-height: 1.5;
}

blockquote p,
.userstuff p,
.userstuff details {
  line-height: 1.45;
}

#workskin .module {
  box-sizing: border-box;
  padding: 0;
}

#workskin .userstuff p,
#workskin .userstuff details {
  padding: 0;
  box-sizing: border-box;
}

#workskin .userstuff {
  padding: 0 1rem;
}

p.kudos {
  box-sizing: border-box;
  background: transparent;
  padding: .3rem;
  overflow-x: clip;
}

@media only screen and (max-width: 62rem),
handheld {
  #main.works-show {
    padding-left: .45rem;
    padding-right: .45rem;
  }
}

/* user page */
#greeting p.icon {
  padding: 0.5rem .1rem 0 0;
}

img.icon {
  border: 1px solid #000;
}

#dashboard,
#dashboard.own {
  border-radius: .25rem;
  background-color: #faedcd;
  border-color: #cb6100;
}

#dashboard,
#dashboard ul {
  border-color: #cb6100;
}

#dashboard ul .current {
  background-color: #a5a58d;
  box-shadow: inset 0 3px 0 #000;
  border: 1px solid #000;
  color: #fff;
}

#dashboard ul a {
  border: 1px solid rgba(0, 0, 0, 0);
}

#dashboard ul a:hover {
  border: 1px solid #000;
  background-color: #a5a58d;
  color: #fff;
}

/* !! FOOTER */
#footer {
  font-size: .86rem;
  background: #cb997e;
  border-top: 2px #f87049 solid;
  color: #260e0e;
}

#footer .module {
  display: flex;
  flex-direction: column;
}

#footer .heading {
  display: block;
  color: #8f1212;
}

#footer a {
  color: #ffffff;
}

#footer a:hover {
  color: #260e0e;
}
